*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  margin: 0; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  height: 100%; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.welcome-main-section {
  position: relative;
  min-height: 760px; }
  .welcome-main-section__header {
    position: fixed;
    width: 100vw;
    z-index: 100;
    backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.3); }
  .welcome-main-section__welcom-box {
    position: relative;
    z-index: 1;
    padding-top: 276px; }
  .welcome-main-section__background-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0; }
.header__menu {
  display: flex;
  justify-content: center;
  align-items: center; }
.header__humburger-menu {
  display: none; }

.logo__img {
  margin: 26px 0 22px 0; }

.menu__list {
  display: flex; }

.list__item {
  margin-right: 30px; }
  .list__item a {
    font-family: "RF Dewi", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 129%;
    text-align: center;
    color: #fff;
    transition: 0.5s; }

.list__item a:hover {
  color: #E9BC47; }

.popup {
  display: none; }

.welcome-box__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
.welcome-box__title {
  margin-bottom: 23px; }
.welcome-box__text {
  margin-bottom: 36px; }

.title-welcome {
  font-family: "RF Dewi Expanded", sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 129%;
  text-align: center;
  color: #fff; }

.text-welcome {
  font-family: "RF Dewi", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 129%;
  text-align: center;
  color: #fff; }

.buttons__leave-a-request {
  margin-right: 28px; }

@media (max-width: 1199px) {
  .header__button {
    display: none; } }
@media (max-width: 991px) {
  .list__item {
    margin-right: 15px; }
    .list__item a {
      font-size: 14px; }

  .logo__img {
    width: 200px;
    height: 50px;
    margin: 25px 0 19px 0; }

  .title-welcome {
    font-size: 40px; } }
@media (max-width: 768px) {
  .header__menu {
    display: none; }
  .header__humburger-menu {
    display: flex; }

  .humburger-menu__humb-field {
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px); }

  .humb-field__bar {
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
    margin: 3px auto;
    transition: 0.2s; }

  .popup .nav__menu > li:hover {
    background-color: rgba(122, 82, 179, 0.1); }

  .humburger-menu__humb-field.active .humb-field__bar:nth-child(2) {
    opacity: 0; }

  .humburger-menu__humb-field.active .humb-field__bar:nth-child(1) {
    transform: translateY(4px) rotate(45deg); }

  .humburger-menu__humb-field.active .humb-field__bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg); }

  body.noscroll {
    overflow: hidden; }

  .popup.open {
    left: 0; }

  .popup {
    position: fixed;
    overflow: scroll;
    top: 80px;
    left: -100%;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.7);
    z-index: 101;
    display: flex;
    align-items: center;
    transition: 0.3s;
    flex-direction: column; }

  .menu__list-popup {
    display: flex;
    flex-direction: column;
    align-items: center; }

  .list-popup__item {
    margin: 20px 0; }
    .list-popup__item a {
      font-family: "RF Dewi", sans-serif;
      font-weight: 600;
      font-size: 18px;
      line-height: 129%;
      text-align: center;
      color: #fff;
      transition: 0.5s; }

  .logo__img {
    width: 169px;
    height: 43px; }

  .title-welcome {
    font-size: 30px; }

  .text-welcome {
    font-size: 18px; }

  .buttons__leave-a-request {
    margin-right: 0; }
  .buttons__follow-up {
    display: none; } }
@media (max-width: 375px) {
  .title-welcome {
    font-size: 25px; }

  .text-welcome {
    font-size: 16px; } }
.about-our-company {
  background-image: url(../img/welcome-main-section/background.png);
  background-color: rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  padding: 45px 0 116px 0; }
  .about-our-company__about-us-box {
    margin-bottom: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .about-our-company__work-us-box {
    display: flex; }

.about-us-box__img {
  margin-right: 96px; }

.text-block-about-us__title {
  margin-bottom: 23px; }
.text-block-about-us__subtitle {
  margin-bottom: 21px; }

.work-us-box__text-block-work-us {
  max-width: 552px; }
.work-us-box__img {
  position: relative;
  margin-left: 30px; }

.text-block-work-us__title {
  margin-bottom: 40px; }

.list-benefits-points__item {
  text-align: left;
  margin-bottom: 35px;
  background: url("../icons/green-curcle-li.svg") 0px 3px no-repeat;
  padding-left: 42px; }

.list-benefits-points__item:last-child {
  margin-bottom: 50px; }

.img__gif-in-macbook {
  position: absolute;
  left: 65px;
  top: 14px; }

.gif-in-macbook__gif {
  width: 567px;
  height: 356px; }

.buttons-work-us__advice {
  margin-right: 30px; }

@media (max-width: 1199px) {
  .buttons-work-us__follow-up {
    display: none; }

  .gif-in-macbook__gif {
    width: 480px;
    height: 308px; }

  .img__work-us-box {
    width: 606px;
    height: 360px; } }
@media (max-width: 991px) {
  .img__about-us {
    width: 340px;
    height: 409px; }

  .gif-in-macbook__gif {
    width: 325px;
    height: 208px; }

  .img__work-us-box {
    width: 400px;
    height: 260px; }
  .img__gif-in-macbook {
    left: 37px; } }
@media (max-width: 768px) {
  .about-our-company__about-us-box {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center; }
  .about-our-company__work-us-box {
    flex-direction: column;
    justify-content: center;
    align-items: center; }

  .about-us-box__img {
    margin-right: 0; }

  .text-block-about-us__title {
    text-align: center; }

  .buttons-work-us__advice {
    margin-bottom: 56px; }

  .work-us-box__img {
    margin-left: 0; }
  .work-us-box__work-us-box {
    width: 450px;
    height: 260px; }
  .work-us-box__gif-in-macbook {
    left: 42px; }

  .gif-in-macbook__gif {
    width: 330px;
    height: 215px; } }
@media (max-width: 480px) {
  .img__about-us {
    width: 282px;
    height: 340px; }
  .img__work-us-box {
    width: 329px;
    height: 196px; }
  .img__gif-in-macbook {
    left: 32px;
    top: 7px; }

  .gif-in-macbook__gif {
    width: 267px;
    height: 168px; } }
.our-advantages {
  position: relative;
  min-height: 678px; }
  .our-advantages__container {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .our-advantages__title {
    padding-top: 60px;
    text-align: center;
    margin-bottom: 30px; }
  .our-advantages__advantages-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 42px;
    width: 1023px;
    height: 416px;
    backdrop-filter: blur(12px);
    background: rgba(0, 0, 0, 0.3); }
  .our-advantages__background-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: hard-light; }

.advantages-box__advantages-green-block {
  display: flex;
  justify-content: space-around; }
.advantages-box__advantages-yellow-block {
  display: flex;
  justify-content: space-around; }

.green-block-item__img {
  background-color: #2BE3A0;
  margin-bottom: 20px; }

.yellow-block-item__img {
  background-color: #FFBF44;
  margin-bottom: 20px; }

.advantages-block-item {
  width: 236px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.advantages-block-item-img {
  width: 64px;
  height: 64px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center; }

@media (max-width: 1199px) {
  .our-advantages__advantages-box {
    max-width: 80%; } }
@media (max-width: 991px) {
  .advantages-box__advantages-green-block {
    display: flex;
    justify-content: center;
    padding: 0 5px; }
  .advantages-box__advantages-yellow-block {
    display: flex;
    justify-content: center;
    padding: 0 5px; } }
@media (max-width: 768px) {
  .our-advantages__advantages-box {
    max-width: 100%; } }
@media (max-width: 480px) {
  .our-advantages {
    padding-bottom: 30px; }
    .our-advantages__advantages-box {
      min-height: 950px;
      justify-content: center;
      align-items: center;
      padding: 20px 0; }

  .advantages-box__advantages-green-block {
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .advantages-box__advantages-yellow-block {
    flex-direction: column;
    justify-content: center;
    align-items: center; }

  .advantages-block-item {
    margin-bottom: 25px; } }
.reviews-from-employees {
  background-image: url(../img/welcome-main-section/reviews-from-employees/bcground-reviews.png);
  background-color: rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  padding: 100px 0 120px 0; }
  .reviews-from-employees__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .reviews-from-employees__title {
    margin-bottom: 50px; }
  .reviews-from-employees__block-reviews-slide {
    width: 1069px;
    height: 502px;
    border-radius: 61px;
    backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.3), linear-gradient(180deg, #000 0%, #000 100%); }

.block-reviews-slide__item-reviews {
  position: relative;
  display: flex; }

.item-reviews__img-driver {
  margin: 67px 0 0 67px; }
.item-reviews__texts-block-reviews {
  margin-top: 104px;
  margin-left: 68px; }
.item-reviews__arrow-slide {
  position: absolute;
  bottom: -80px;
  left: 160px;
  display: flex; }

.texts-block-reviews__text-reviews {
  max-width: 443px;
  height: 226px;
  margin-bottom: 35px; }

.name-and-place__name-driver {
  font-family: "RF Dewi Expanded", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff; }

.arrow-slide__left-arrow {
  margin-right: 22px; }

.car-requirement {
  background-image: url(../img/welcome-main-section/car-requirement/background-map.png);
  background-color: rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  padding: 85px 0 45px 0; }
  .car-requirement__title {
    text-align: center;
    margin-bottom: 45px; }
  .car-requirement__block {
    display: flex;
    justify-content: space-between; }
  .car-requirement__img-car {
    position: relative; }
  .car-requirement__benefits-points-block {
    margin-top: 33px; }

.img-car__car {
  position: absolute;
  top: 0;
  left: 0; }
  .img-car__car img {
    width: 601px;
    height: 394px; }

.link-to-app__apple {
  margin-right: 25px; }

.job-application {
  position: relative;
  padding: 86px 0 68px 0;
  min-height: 348px; }
  .job-application__container {
    display: flex; }
  .job-application__title-job {
    position: relative;
    max-width: 736px;
    z-index: 5;
    margin-right: 18px; }
  .job-application__form-block-job-application {
    position: relative;
    z-index: 4; }
  .job-application__background-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.title-job__title {
  margin-bottom: 40px; }

.form-group__number-type {
  position: relative; }

.name-type__input-name {
  padding-left: 34px; }

.number-type__number-name {
  padding-left: 75px; }
.number-type__icon-flag {
  position: absolute;
  z-index: 6;
  top: 16px;
  left: 34px; }

.we-work-in-cities {
  background-image: url(../img/welcome-main-section/background.png);
  background-color: rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  padding: 120px 0 0 0; }
  .we-work-in-cities__title {
    text-align: center;
    margin-bottom: 35px; }
  .we-work-in-cities__map img {
    width: 100%; }

.our-contact {
  background-image: url(../img/welcome-main-section/background.png);
  background-color: rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  padding: 48px 0 75px 0; }
  .our-contact__top-box-contact {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 80px; }
  .our-contact__bottom-box-contact {
    display: flex;
    justify-content: space-between;
    align-items: start; }

.messanger-number__number {
  font-family: "RF Dewi Expanded", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff; }

.bottom-box-contact__number-phone {
  font-family: "RF Dewi Expanded", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff; }

.number-phone__number {
  font-family: "RF Dewi Expanded", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff; }

.telegram__text {
  font-family: "RF Dewi Expanded", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff; }

.footer {
  background: #1e1e1e;
  padding: 45px 0 58px 0; }
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.menu-footer__list-footer {
  display: flex;
  margin-bottom: 77px; }

.list-footer__item {
  font-family: "RF Dewi", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 129%;
  margin-right: 20px; }
  .list-footer__item a {
    color: #fff; }

.copyright-and-social-network__copyright {
  display: flex;
  justify-content: left;
  align-items: center; }

.copyright__text {
  font-family: "RF Dewi", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  opacity: 0.4;
  margin-right: 20px; }
.copyright__social-network {
  display: flex;
  justify-content: center;
  align-items: center; }

.social-network__tg {
  margin-right: 6px; }

.right-box__logo {
  margin-bottom: 77px; }
.right-box__privacy-policy-and-agreement {
  display: flex; }

.privacy-policy-and-agreement__privacy-policy {
  font-family: "RF Dewi", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  opacity: 0.4;
  margin-right: 20px; }
.privacy-policy-and-agreement__agreement {
  font-family: "RF Dewi", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  opacity: 0.4; }

.delivery {
  margin-bottom: 35px; }

.delivery-advantages {
  background-image: url(../img/welcome-main-section/car-requirement/background-map.png);
  background-color: rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  padding: 90px 0; }
  .delivery-advantages__advantages-delivery-box {
    max-width: 732px;
    padding: 44px;
    backdrop-filter: blur(12px);
    background: rgba(0, 0, 0, 0.3);
    border-radius: 42px;
    margin-right: 45px; }
  .delivery-advantages__container {
    display: flex; }
  .delivery-advantages__img-box-delivery-advantages {
    position: relative; }

.advantages-delivery-box__title {
  margin-bottom: 40px; }

.img-box-delivery-advantages__moped-img {
  position: absolute;
  z-index: 1; }

.img-box-delivery-advantages__ellipse-img {
  position: absolute; }

.advantages-box__advantages-white-block {
  display: flex;
  justify-content: space-around; }

.white-block-item__img {
  background-color: #fff;
  margin-bottom: 20px; }

@media (max-width: 991px) {
  .advantages-box__advantages-white-block {
    display: flex;
    justify-content: center;
    padding: 0 5px; } }
@media (max-width: 480px) {
  .advantages-box__advantages-white-block {
    flex-direction: column;
    justify-content: center;
    align-items: center; } }
.faq-box {
  background-image: url(../img/welcome-main-section/reviews-from-employees/bcground-reviews.png);
  background-color: rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  padding: 70px 0 137px 0; }
  .faq-box__title {
    text-align: center;
    margin-bottom: 44px; }
  .faq-box__question {
    border-radius: 41px;
    max-width: 100%;
    background: rgba(0, 0, 0, 0.18); }

.question__el {
  cursor: pointer;
  padding: 26px 32px 26px 50px;
  display: flex;
  justify-content: space-between; }
  .question__el .active {
    color: #e9bc47; }

.el__answer {
  padding: 25px 0 25px 50px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4); }

.breakage {
  padding: 65px 0 235px 0;
  background-image: url(../img/welcome-main-section/car-requirement/background-map.png);
  background-color: rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .breakage__container {
    display: flex; }
  .breakage__info-box {
    max-width: 738px;
    margin-right: 70px;
    padding-top: 65px; }
  .breakage__images {
    position: relative; }

.info-box__title {
  margin-bottom: 30px; }
.info-box__text {
  margin-bottom: 34px; }
.info-box__benefits-points-block {
  margin-bottom: 45px; }

.images__car-and-phone {
  position: absolute;
  top: 0;
  left: -220px;
  z-index: 2; }
.images__ellips {
  position: absolute;
  top: 0;
  z-index: 1; }

.insurance-cost {
  background-image: url(../img/welcome-main-section/reviews-from-employees/bcground-reviews.png);
  background-color: rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  padding: 77px 0 111px 0; }
  .insurance-cost__title {
    text-align: center;
    margin-bottom: 44px; }
  .insurance-cost__cost-calculation {
    display: flex;
    justify-content: space-around;
    align-items: center; }

.cost-calculation__calculator {
  max-width: 598px;
  min-height: 112px;
  border: 2px solid #fff;
  border-radius: 20px;
  width: 598px;
  height: 112px;
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.18); }

.calculator__cost-text {
  padding-top: 27px;
  margin-bottom: 28px;
  display: flex;
  justify-content: center;
  align-items: center; }

.cost-text__period {
  font-family: "RF Dewi Expanded", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  margin-right: 22px; }
.cost-text__dash {
  font-family: "RF Dewi Expanded", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  margin-right: 22px; }
.cost-text__price {
  font-family: "RF Dewi Expanded", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  margin-right: 22px; }

.period__text {
  color: #e9bc47; }

.price__text {
  color: #e9bc47; }

main {
  max-width: 100%;
  overflow: hidden; }

.container {
  padding: 0 10px;
  margin: 0 auto;
  max-width: 1300px; }

.subtitle {
  font-family: "RF Dewi Expanded", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #fff;
  text-shadow: 1px 1px #000; }

.title {
  font-family: "RF Dewi Expanded", sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 129%;
  color: #fff;
  text-shadow: 1px 1px #000; }

.text {
  font-family: "RF Dewi", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 131%;
  color: #fff;
  text-shadow: 1px 1px #000; }

.clear-button {
  cursor: pointer;
  width: 250px;
  height: 60px;
  font-family: "RF Dewi Expanded", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  opacity: 1;
  color: #fff;
  background-color: rgba(28, 28, 28, 0);
  border: 0; }

.white-button {
  cursor: pointer;
  border: 0;
  width: 250px;
  height: 60px;
  font-family: "RF Dewi Expanded", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #000;
  background: #fff; }

.grey {
  border-radius: 20px;
  width: 202px;
  height: 53px;
  cursor: pointer;
  border: 1px solid #fff;
  font-family: "RF Dewi Expanded", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 157%;
  text-align: center;
  color: #fff;
  background: rgba(255, 255, 255, 0.3); }

.subtext {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  opacity: 0.6;
  color: #fff;
  text-shadow: 1px 1px #000; }

.faq-page-title {
  font-family: "RF Dewi Expanded", sans-serif;
  font-weight: 700;
  font-size: 113px;
  text-align: center;
  color: #fff; }

.input-form-item {
  border: none;
  width: 343px;
  height: 50px;
  color: #fff;
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.3);
  margin-bottom: 18px; }

@media (max-width: 1199px) {
  .container {
    max-width: 920px; } }
@media (max-width: 991px) {
  .container {
    max-width: 100%;
    padding: 0 20px; } }
@media (max-width: 768px) {
  .container {
    overflow: hidden; } }
@media (max-width: 480px) {
  .container {
    max-width: 100%; }

  .title {
    font-size: 25px; } }
@media (max-width: 375px) {
  .white-button {
    width: 176px;
    height: 45px;
    font-size: 13px; }

  .title {
    font-size: 30px; }

  .text {
    font-size: 14px; }

  .subtitle {
    font-size: 20px; } }

/*# sourceMappingURL=style.css.map */
