.car-requirement
    background-image: url(../img/welcome-main-section/background.png)
    background-color: rgba(0, 0, 0, 0.6)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    height: 100%
    padding: 85px 0 45px 0
    &__container
    &__title
        text-align: center
        margin-bottom: 45px
    &__block
        display: flex
        justify-content: space-between
    &__img-car
        position: relative
    &__link-to-app
    &__benefits-points-block
        margin-top: 33px

.img-car
    &__palnet
    &__car
        position: absolute
        top: 0
        left: 0
        img
            width: 601px
            height: 394px
        

.link-to-app
    &__apple
        margin-right: 25px
    &__android
