$font-family: "RF Dewi Expanded", sans-serif

@mixin number-text()
    font-family: $font-family
    font-weight: 700
    font-size: 18px
    color: #fff

.our-contact
    background-image: url(../img/welcome-main-section/background.png)
    background-color: rgba(0, 0, 0, 0.6)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    height: 100%
    padding: 48px 0 75px 0
    &__container
    &__top-box-contact
        display: flex
        justify-content: space-between
        align-items: end
        margin-bottom: 80px
    &__bottom-box-contact
        display: flex
        justify-content: space-between
        align-items: start

.top-box-contact
    &__title
    &__subtext
    &__logo

.bottom-box-contact
    &__messanger-number
    &__number-phone
        @include number-text()
    &__telegram
        

.messanger-number
    &__number
        @include number-text()
    &__text

.bottom-box-contact

.number-phone
    &__number
        @include number-text()

.telegram
    &__text
        @include number-text()
    

@media ( max-width:991px  )

@media ( max-width:768px  )
    .our-contact
        &__top-box-contact
            flex-direction: column
            align-items: start
        &__bottom-box-contact
            flex-direction: column

    .top-box-contact
        &__title
            margin-bottom: 10px
        &__logo
            display: none

    .bottom-box-contact
        &__messanger-number
            margin-bottom: 35px
        &__number-phone
            margin-bottom: 35px

    .messanger-number
        &__number
        &__text
            display: none
   
@media ( max-width:480px  )
 
@media ( max-width:375px  )
    
            