$font-family: "RF Dewi Expanded", sans-serif


.reviews-from-employees
    background-image: url(../img/welcome-main-section/reviews-from-employees/bcground-reviews.png)
    background-color: rgba(0, 0, 0, 0.6)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    height: 100%
    padding: 100px 0 120px 0
    &__container
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
    &__title
        text-align: center
        margin-bottom: 50px
    &__block-reviews-slide
        max-width: 1069px
        min-height: 502px
        border-radius: 61px
        backdrop-filter: blur(4px)
        background: rgba(0, 0, 0, 0.3), linear-gradient(180deg, #000 0%, #000 100%)

.block-reviews-slide
    &__item-reviews
        position: relative
        display: flex

.item-reviews
    &__img-driver
        margin: 67px 0 0 67px
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
    &__texts-block-reviews
        margin-top: 104px
        margin-left: 68px
    &__arrow-slide
        // position: absolute
        // bottom: -80px
        // left: 160px
        display: flex

.img-driver
    &__img
        margin-bottom: 20px

.texts-block-reviews
    &__text-reviews
        max-width: 443px
        min-height: 226px
        margin-bottom: 35px
    &__name-and-place

.name-and-place
    &__name-driver
        font-family: $font-family
        font-weight: 700
        font-size: 18px
        color: #fff
    &__palce-driver

.arrow-slide
    &__left-arrow
        margin-right: 22px
    &__right-arrow

@media ( max-width:1199px  )

@media ( max-width:991px  )
    .reviews-from-employees
        &__block-reviews-slide
            height: 602px
    .texts-block-reviews
        &__name-and-place

@media ( max-width:768px  )
    .reviews-from-employees
        &__block-reviews-slide
            min-height: 790px
    .item-reviews
        &__arrow-slide
            display: none
    .block-reviews-slide
        &__item-reviews
            justify-content: center
            align-items: center
            flex-direction: column
    .item-reviews
        &__img-driver
            margin: 0
        &__texts-block-reviews
            margin: 0
            padding: 0 15px
    .img-driver
        &__img
            padding: 20px 0
@media ( max-width:480px  )
   
@media ( max-width:375px  )
    .reviews-from-employees
        &__block-reviews-slide
            min-height: 700px
    .img-driver
        &__img
            img
                width: 140px
                height: 140px
    