.we-work-in-cities
    background-image: url(../img/welcome-main-section/background.png)
    background-color: rgba(0, 0, 0, 0.6)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    height: 100%
    padding: 120px 0 0 0 
    &__container
    &__title
        text-align: center
        margin-bottom: 35px
    &__map
        img
            width: 100%

@media ( max-width:991px  )

@media ( max-width:768px  )
    .we-work-in-cities
        padding: 90px 0 0 0 
   
@media ( max-width:480px  )
    .we-work-in-cities
        padding: 57px 0 0 0 
@media ( max-width:375px  )
    // через js сделать кастомную адаптивную карту!!!