.breakage
    padding: 65px 0 235px 0
    background-image: url(../img/welcome-main-section/car-requirement/background-map.png)
    background-color: rgba(0, 0, 0, 0.6)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    &__container
        display: flex
        // position: relative
        // align-items: 
    &__info-box
        max-width: 738px
        margin-right: 70px
        padding-top: 65px 
    &__images
        position: relative

.info-box
    &__title
        margin-bottom: 30px
    &__text
        margin-bottom: 34px
    &__benefits-points-block
        margin-bottom: 45px
.breakage


.images
    &__car-and-phone
        position: absolute
        top: 0
        left: -220px
        z-index: 2
    &__ellips
        position: absolute
        top: 0
        z-index: 1