.delivery-advantages
    background-image: url(../img/welcome-main-section/car-requirement/background-map.png)
    background-color: rgba(0, 0, 0, 0.6)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    height: 100%
    padding: 90px 0
    &__advantages-delivery-box
        max-width: 732px
        padding: 44px
        backdrop-filter: blur(12px)
        background: rgba(0, 0, 0, 0.3)
        border-radius: 42px
        margin-right: 45px
    &__container
        display: flex
    &__img-box-delivery-advantages
        position: relative

.advantages-delivery-box
    &__title
        margin-bottom: 40px
    &__benefits-points-block
    &__buttons-advantages-delivery

.buttons-advantages-delivery
    &__advice
    &__follow-up

.img-box-delivery-advantages
    &__moped-img
        position: absolute
        z-index: 1
.img-box-delivery-advantages
    &__ellipse-img
        position: absolute

@media ( max-width:1199px  )
    .delivery-advantages
        &__advantages-delivery-box
            max-width: 530px
            margin-right: 15px
            &__img-box-delivery-advantages
                padding-top: 45px
    .img-box-delivery-advantages
        &__moped-img
            img
                width: 345px
                height: 367px
    .img-box-delivery-advantages
        &__ellipse-img
            width: 350px
            height: 354px

@media ( max-width:991px  )
    .delivery-advantages
        &__advantages-delivery-box
            max-width: 420px
    .img-box-delivery-advantages
        &__moped-img
            img
                width: 325px
                height: 347px
    .img-box-delivery-advantages
        &__ellipse-img
            width: 300px
            height: 304px
    .buttons-advantages-delivery
        &__follow-up
            display: none

@media ( max-width:768px )
    .delivery-advantages
        &__container
            flex-direction: column
            justify-content: center
            align-items: center
        &__img-box-delivery-advantages
            width: 340px
            height: 382px
            display: flex
            justify-content: center
            align-items: center
        &__advantages-delivery-box
            max-width: 760px
            margin-right: 0
            margin-bottom: 30px
    .img-box-delivery-advantages
        &__moped-img
            img
                width: 350px
                height: 359px
    .img-box-delivery-advantages
        &__ellipse-img
            width: 349px
            height: 349px

@media ( max-width:480px  )
    .img-box-delivery-advantages
        &__moped-img
            img
                width: 300px
                height: 319px
    .img-box-delivery-advantages
        &__ellipse-img
            width: 269px
            height: 269px

@media ( max-width:375px  )