.advantages-box
    &__advantages-white-block
        display: flex
        justify-content: space-around

.advantages-white-block
    &__white-block-item

.advantages-block-item

.white-block-item
    &__img
        background-color: #fff
        margin-bottom: 20px

